# ignore library files
facial_env

# dont push any mp3 files
*.mp3

# dont push any image files
*jpg

# secret stuff
sauce.py

# more secret stuff
*.env

# i have a lot of junk in here
requirements.txt

env